body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
}

.card {
    border-radius: 20px;
}

.material-icons {
    display: inline-flex;
    align-items: right;
} 

h1 {
    font-weight: 700;
    font-size: xx-large;
}

#background {
  position: relative;
  top: -25rem;
  left: -43rem;
}

#woman {
  position: absolute;
  top: 3rem;
  left: -7rem;
}

#cube {
  position: absolute;
  top: 12rem;
  left: -9rem;
  z-index: 1;
}
